<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyShipping.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <userSettings>
        <MyShipping.My.MySettings>
            <setting name="MySQLDriver" serializeAs="String">
                <value>ODBC Driver 13 For SQL Server</value>
            </setting>
            <setting name="MySQLServer" serializeAs="String">
                <value>DESKTOP-BI1TS62</value>
            </setting>
            <setting name="MySQLDbase" serializeAs="String">
                <value>MyShipping</value>
            </setting>
            <setting name="Trusted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MySQLUserID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySQLUserpwd" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="MySqlDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DFLTuserID" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="DFLTUserpwd" serializeAs="String">
                <value>admin123</value>
            </setting>
            <setting name="companyname" serializeAs="String">
                <value />
            </setting>
        </MyShipping.My.MySettings>
    </userSettings>
</configuration>